<div class="c24 doc-content">
  <ol class="c5 lst-kix_list_28-0 start" start="1">
    <li class="c7 c17 li-bullet-0"><span class="c1 c2">AVISO LEGAL </span></li>
  </ol>
  <p class="c12"><span class="c1 c11">AVISO DE PRIVACIDAD</span></p>
  <p class="c12"><span class="c1 c11">SISTEMA DE PAGOS EN L&Iacute;NEA SANTEGA</span></p>
  <p class="c7"><span class="c0">En cumplimiento con lo establecido en la Ley Federal de Protecci&oacute;n de Datos
      Personales en Posesi&oacute;n de los Particulares y su Reglamento, y dem&aacute;s legislaci&oacute;n
      aplicable, &nbsp;SANTEGA, S.A de C.V. (en adelante &ldquo;SANTEGA&rdquo;) con domicilio en</span><span
      class="c0 c4">&nbsp;Calle Valle Sol n&uacute;mero 122, Interior 201, Colonia La Diana, en el Municipio de
      San Pedro Garza Garc&iacute;a, Nuevo Le&oacute;n, C&oacute;digo Postal 66266, </span><span class="c1 c0">es
      responsable del tratamiento de sus datos personales proporcionados, as&iacute; como de su protecci&oacute;n
      de conformidad con la legislaci&oacute;n aplicable. </span></p>
  <p class="c7"><span class="c9">Puesta a disposici&oacute;n del Aviso de Privacidad </span></p>
  <p class="c7"><span class="c1 c0">Cuando los Datos Personales se obtengan personalmente del Usuario, titular de los
      datos personales, SANTEGA pondr&aacute; a tu disposici&oacute;n el presente Aviso de Privacidad en el
      momento en que sean recabados o en cualquier operaci&oacute;n realizada por el usuario, por medio de los
      formatos que SANTEGA utiliza para ello.</span></p>
  <p class="c7"><span class="c0">Usted puede consultar en cualquier momento nuestro Aviso de Privacidad en la
      p&aacute;gina de internet </span><span class="c0 c4">LINK SITIO WEB</span><span class="c1 c0">. </span></p>
  <p class="c7"><span class="c1 c0">SANTEGA tiene el compromiso de brindarle toda aquella informaci&oacute;n necesaria
      para garantizar que usted tenga pleno control sobre el tratamiento de sus datos personales. </span></p>
  <p class="c16"><span class="c9">Datos Personales recabados sujetos a tratamiento</span></p>
  <p class="c7"><span class="c1 c0">Los Datos Personales que usted proptioorcione a trav&eacute;s del Sistema de Pagos
      en
      L&iacute;nea ubicado en el Sitio Web de SANTEGA se realizan en el marco de la Ley Federal de
      Protecci&oacute;n de Datos Personales en Posesi&oacute;n de los Particulares y su Reglamento, y dem&aacute;s
      legislaci&oacute;n aplicable. </span></p>
  <p class="c7"><span class="c1 c0">Los datos personales que se describen a continuaci&oacute;n ser&aacute;n obtenidos
      de diversas fuentes l&iacute;citas que incluyen los siguientes medios de obtenci&oacute;n:</span></p>
  <ol class="c5 lst-kix_list_31-0 start" start="1">
    <li class="c13 c8 li-bullet-1"><span class="c1 c0">Datos que Usted proporciona directamente: datos de
        identificaci&oacute;n y autenticaci&oacute;n, datos de contacto, datos patrimoniales y/o financieros,
        datos fiscales, datos de ubicaci&oacute;n. </span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Datos que obtenemos como consecuencia del uso de nuestro
        Sitio Web: informaci&oacute;n t&eacute;cnica y de ubicaci&oacute;n de su dispositivo, datos de la red,
        datos inferidos. </span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Datos que obtenemos de terceros: datos de
        identificaci&oacute;n y autenticaci&oacute;n, datos de contacto, datos patrimoniales y/o financieros,
        datos fiscales, datos inferidos. </span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Datos personales sensibles: Le informamos que los datos
        fiscales, patrimoniales y/o financieros pueden considerarse en algunos casos, dependiendo del contexto
        del tratamiento, como datos personales sensibles. Que SANTEGA podr&aacute; dar tratamiento de los datos
        que usted voluntariamente proporcione con la finalidad de llevar cabo actividades de verificaci&oacute;n
        para la provisi&oacute;n del uso del Sitio Web y del Sistema de Pagos en L&iacute;nea. </span></li>
  </ol>
  <p class="c7 c18 c15"><span class="c1 c0"></span></p>
  <p class="c7"><span class="c1 c0 c14">Los Datos Personales que son sometidos a tratamiento por SANTEGA para las
      finalidades se&ntilde;aladas pueden ser los siguientes:</span></p>
  <ol class="c5 lst-kix_list_30-0 start" start="1">
    <li class="c13 c8 li-bullet-1"><span class="c1 c0 c14">Nombre completo o Raz&oacute;n Social, </span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0 c14">Clave de Registro Federal de Contribuyentes del
        Usuario.</span></li>
    <li class="c7 c8 li-bullet-2"><span class="c1 c0 c14">Domicilio, Tel&eacute;fono fijo o m&oacute;vil, y correo
        electr&oacute;nico.</span></li>
  </ol>
  <p class="c7"><span class="c1 c0">SANTEGA podr&aacute; dar tratamiento a datos personales de identificaci&oacute;n
      cuando usted nos proporcione directamente esta informaci&oacute;n al ingresar en nuestro Sitio Web o al
      utilizar nuestros servicios en l&iacute;nea. Los datos que recabamos pueden incluir, de manera enunciativa
      pero no limitativa, los siguientes: nombre, direcci&oacute;n, correo electr&oacute;nico, n&uacute;mero
      telef&oacute;nico, informaci&oacute;n financiera y de pago, entre otros.</span></p>
  <p class="c16"><span class="c9">Finalidades del Tratamiento</span></p>
  <p class="c7"><span class="c1 c0">Los datos personales que recabamos tienen como finalidad principal la
      prestaci&oacute;n de los servicios que ofrecemos, incluyendo el procesamiento de pagos en l&iacute;nea, la
      verificaci&oacute;n de identidad y el mantenimiento de la seguridad de nuestro Sitio Web. Adem&aacute;s,
      utilizamos sus datos para enviarle comunicaciones relacionadas con los servicios utilizados. </span></p>
  <p class="c7"><span class="c0">SANTEGA, en cumplimiento a los principios de proporcionalidad y minimizaci&oacute;n,
      se compromete a &uacute;nicamente recabar y hacer uso leg&iacute;timo de los datos personales adecuados,
      necesarios para el uso del servicio de Sistema de Pagos en L&iacute;nea, que pueden incluir </span><span
      class="c0 c14">las siguientes finalidades enunciativas m&aacute;s no limitativas:</span></p>
  <ol class="c5 lst-kix_list_32-0 start" start="1">
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Verificar su identidad mediante el uso de datos personales
        sensibles como datos fiscales, patrimoniales y/o financieros, as&iacute; como los datos proporcionados e
        identificarlo como Usuario del Sitio Web ante autoridades y/o terceros con los que tengamos celebrados
        acuerdos de jur&iacute;dicos vinculantes.</span></li>
    <li class="c13 c8 li-bullet-1"><span class="c1 c0">Realizar gestiones procesamiento de pagos a trav&eacute;s de
        las formas y mecanismos que SANTEGA tenga habilitados, derivado de las operaciones realizadas por el
        Usuario en el Sistema de Pagos en L&iacute;nea. </span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Dar cumplimiento a requerimientos de autoridades competentes
        en los casos legalmente previstos.</span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Mantener la seguridad a la infraestructura del Sitio Web,
        as&iacute; como identificar potenciales conductas il&iacute;citas y ataques inform&aacute;ticos,
        detectar fallos o errores t&eacute;cnicos, as&iacute; como cualquier tratamiento que sea necesario para
        la correcta utilizaci&oacute;n del Sitio Web. </span></li>
    <li class="c7 c8 li-bullet-1"><span class="c1 c0">Dar cumplimiento a obligaciones previstas en la normatividad
        aplicable.</span></li>
  </ol>
  <p class="c7"><span class="c1 c0">Por ning&uacute;n motivo SANTEGA realizara un tratamiento a los datos personales
      para finalidades distintas a las informadas en el presente Aviso de Privacidad ni obtendr&aacute; datos que
      no cumplan con los criterios anteriormente se&ntilde;alados.</span></p>
  <p class="c7"><span class="c9">Administraci&oacute;n de bases de datos</span></p>
  <p class="c7"><span class="c1 c0">Los Datos Personales son administrados y resguardados mediante el uso de bases de
      datos las cuales son administradas &uacute;nicamente por las personas designadas por SANTEGA para tal
      efecto, sin que se permita su uso, consulta, manejo o acceso a personas no autorizadas para ello. </span>
  </p>
  <p class="c7 c15"><span class="c1 c11"></span></p>
  <p class="c16"><span class="c9">Medios para ejercer los derechos ARCO (Acceso, Rectificaci&oacute;n,
      Cancelaci&oacute;n y Oposici&oacute;n)</span></p>
  <p class="c7"><span class="c0">Para el ejercicio de cualquiera de los derechos ARCO, usted deber&aacute; presentar
      una solicitud escrita dirigida a SANTEGA, en Calle Valle Sol n&uacute;mero 122, Interior 201, Colonia La
      Diana, en el Municipio de San Pedro Garza Garc&iacute;a, Nuevo Le&oacute;n, C&oacute;digo Postal 66266, o
      bien, enviarla al correo electr&oacute;nico </span><span class="c0 c19"><a class="c21"
        href="mailto:info@santega.com">info@santega.com</a></span><span class="c1 c0">. Acompa&ntilde;ando a su
      solicitud, en t&eacute;rminos del art&iacute;culo 29 de la Ley Federal de Protecci&oacute;n de Datos
      Personales en Posesi&oacute;n de los Particulares, lo siguiente:</span></p>
  <ol class="c5 lst-kix_list_29-0 start" start="1">
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Nombre del titular de los datos.</span></li>
    <li class="c22 c8 li-bullet-2"><span class="c1 c0">Domicilio u otro medio para comunicarle la respuesta a su
        solicitud.</span></li>
    <li class="c22 c8 li-bullet-2"><span class="c1 c0">Documentos que acrediten su identidad o, en su caso, la
        representaci&oacute;n legal.</span></li>
    <li class="c8 c22 li-bullet-1"><span class="c1 c0">Descripci&oacute;n clara y precisa de los datos personales
        respecto de los que se busca ejercer alguno de los derechos ARCO.</span></li>
    <li class="c16 c8 li-bullet-1"><span class="c1 c0">Cualquier otro elemento que facilite la localizaci&oacute;n
        de los datos personales.</span></li>
  </ol>
  <p class="c7"><span class="c1 c0">Asimismo, es de su conocimiento que, en caso de tener la intenci&oacute;n de hacer
      valer cualquier inconformidad respecto el tratamiento de sus datos personales por SANTEGA, usted tiene
      derecho de acudir a los &oacute;rganos de transparencia y protecci&oacute;n de datos personales competentes.
    </span></p>
  <p class="c16"><span class="c9">Modificaciones al aviso de privacidad:</span></p>
  <p class="c7"><span class="c0">El presente Aviso de Privacidad, puede ser objeto de modificaciones, por lo que nos
      reservamos el derecho de efectuar en cualquier momento cambios o actualizaciones al presente Aviso de
      Privacidad, para la atenci&oacute;n de novedades legislativas, pol&iacute;ticas internas o nuevos
      requerimientos para la prestaci&oacute;n u ofrecimiento de nuestros servicios. Estas modificaciones
      estar&aacute;n disponibles al p&uacute;blico a trav&eacute;s de nuestro sitio web </span><span
      class="c0 c4">[Enlace].</span><span class="c1 c0">&nbsp;</span></p>
  <p class="c16"><span class="c9">Consentimiento:</span></p>
  <p class="c7"><span class="c0">La aceptaci&oacute;n o el rechazo del Aviso de Privacidad de SANTEGA por medios
      electr&oacute;nicos, en t&eacute;rminos del art&iacute;culo 8 de la Ley
      Federal</span><span>&nbsp;</span><span class="c1 c0">de Protecci&oacute;n de Datos Personales en
      Posesi&oacute;n de los Particulares y dem&aacute;s aplicables, ser&aacute; efectuada de la siguiente
      manera:</span></p>
  <p class="c7"><span class="c0">SANTEGA pondr&aacute; a su disposici&oacute;n el presente aviso de privacidad al
      momento de realizar el ingreso al Sitio Web y/o &nbsp;en cualquier operaci&oacute;n que realice el Usuario
      en el &nbsp;Sitio Web. De forma que, cuando el Usuario proporcione sus datos de manera voluntaria,
      solicitados para el uso del servicio del Sitio Web, SANTEGA dar&aacute; a conocer el presente Aviso de
      Privacidad, poniendo a tu disposici&oacute;n un recuadro con la leyenda de </span><span class="c0 c4">&ldquo;HE
      LE&Iacute;DO Y ACEPTO EL AVISO DE PRIVACIDAD&rdquo;,</span><span class="c1 c0">&nbsp;por lo que al momento de
      seleccionar el recuadro y concretar la operaci&oacute;n o
      registro y/o de dar clic, se entender&aacute; que has le&iacute;do y aceptado de forma expresa el
      tratamiento que SANTEGA dar&aacute; a tus datos personales.</span></p>
  <p class="c7"><span class="c1 c0">SANTEGA conservar&aacute; sus datos personales &uacute;nicamente durante el tiempo
      que resulte necesario en el uso de servicio del Sitio Web en t&eacute;rminos de la legislaci&oacute;n
      aplicable. De forma que, cuando concluya dicho periodo SANTEGA proceder&aacute; a la supresi&oacute;n de sus
      datos personales. </span></p>
  <p class="c16 c15"><span class="c1 c0"></span></p>
  <p class="c16"><span class="c11 c28">Fecha de &uacute;ltima actualizaci&oacute;n:</span><span
      class="c11">&nbsp;</span><span class="c1 c0">2024. </span></p>
  <p class="c16 c15"><span class="c1 c0"></span></p>
  <p class="c16"><span class="c0">Para cualquier duda o aclaraci&oacute;n respecto al tratamiento de sus datos
      personales, puede ponerse en contacto con nosotros a trav&eacute;s de </span><span class="c19 c0"><a class="c21"
        href="mailto:info@santega.com">info@santega.com</a></span><span class="c1 c0">, o al
      n&uacute;mero 8183464828. </span></p>
  <p class="c7 c15"><span class="c1 c2"></span></p>
  <ol class="c5 lst-kix_list_1-0 start" start="1">
    <li class="c7 c17 li-bullet-0"><span class="c1 c2">TERMINOS Y CONDICIONES</span></li>
  </ol>
  <p class="c7 c15"><span class="c1 c2 c33"></span></p>
  <p class="c7"><span class="c0">Los siguientes t&eacute;rminos y condiciones, en lo sucesivo referidos como
      &quot;T&eacute;rminos y Condiciones&quot;, se aplican al empleo de los Servicios de pago en l&iacute;nea
      provistos por SANTEGA, S.A. de C.V. (en adelante denominado &quot;SANTEGA&quot;) a trav&eacute;s del sitio
      web </span><span class="c0 c4">__________ (&quot;Sitio Web&quot;).</span><span class="c0">&nbsp;Estos
      t&eacute;rminos y condiciones representan un acuerdo entre SANTEGA, S.A. de C.V., una entidad legalmente
      constituida conforme a las leyes de M&eacute;xico, con domicilio </span><span class="c0 c4">en Calle Valle
      Sol n&uacute;mero 122, Interior 201, Colonia La Diana, en el Municipio de San Pedro Garza Garc&iacute;a,
      Nuevo Le&oacute;n, C&oacute;digo Postal 66266, y</span><span class="c1 c0">&nbsp;el usuario del Sitio Web.
      La adhesi&oacute;n a estos T&eacute;rminos y Condiciones es obligatoria y vinculante. En caso de desacuerdo
      o negativa a aceptarlos, el usuario deber&aacute; abstenerse de utilizar el Sistema de Pagos en L&iacute;nea
      (en adelante, &quot;el Servicio&quot;) proporcionado por SANTEGA, S.A. de C.V.</span></p>
  <p class="c7"><span class="c1 c0">AL HACER USO DE LOS SERVICIOS DE SANTEGA, EL USUARIO RECONOCE Y DECLARA HABER
      LE&Iacute;DO, COMPRENDIDO Y ACEPTADO ESTAS CONDICIONES. LA NO ACEPTACI&Oacute;N DE ESTAS CONDICIONES IMPLICA
      LA IMPOSIBILIDAD DE ACCEDER Y UTILIZAR LOS SERVICIOS OFRECIDOS EN EL SITIO WEB DE SANTEGA.</span></p>
  <p class="c7"><span class="c1 c0">El acceso y uso del Sitio Web implica la aceptaci&oacute;n inequ&iacute;voca por
      parte del Usuario de todas las pol&iacute;ticas establecidas en los presentes T&eacute;rminos y Condiciones.
      En el caso de que el usuario acepte estos t&eacute;rminos en representaci&oacute;n de una empresa u otra
      entidad jur&iacute;dica, manifiesta y garantiza tener la autoridad necesaria para comprometer a dicha
      entidad al cumplimiento de las mismas.</span></p>
  <p class="c7"><span class="c9">Uso del Sitio Web:</span></p>
  <p class="c7"><span class="c1 c0">El Usuario se encuentra sujeto a estos T&eacute;rminos y Condiciones establecidos
      por SANTEGA. Al utilizar la cuenta de usuario y contrase&ntilde;a del Sitio Web, el Usuario podr&aacute;
      acceder a los servicios de SANTEGA, S.A. de C.V. Sin embargo, para tener acceso a la totalidad de los
      servicios ofrecidos por SANTEGA, el Usuario deber&aacute; proporcionar al sistema toda la
      documentaci&oacute;n e informaci&oacute;n requerida para dicho servicio, quedando el Usuario obligado al
      cumplimiento de todos los T&eacute;rminos y Condiciones establecidos por SANTEGA.</span></p>
  <p class="c7"><span class="c1 c0">Antes de utilizar el Sitio Web de SANTEGA, el Usuario deber&aacute; leer
      detenidamente los presentes T&eacute;rminos y Condiciones. No podr&aacute; acceder ni utilizar los Servicios
      hasta que proporcione toda la informaci&oacute;n y documentos requeridos, y acepte los presentes
      T&eacute;rminos y Condiciones.</span></p>
  <p class="c7"><span class="c1 c0">Al elegir y utilizar los Servicios, el Usuario acepta todos y cada uno de los
      t&eacute;rminos establecidos en el presente documento, reconociendo que los mismos son vinculantes tanto
      para el Usuario como para SANTEGA.</span></p>
  <p class="c7"><span class="c1 c0">Estos T&eacute;rminos y Condiciones son aplicables a todos los usuarios de SANTEGA
      y est&aacute;n sujetos a modificaci&oacute;n en cualquier momento como resultado de ajustes a las
      pol&iacute;ticas comerciales. Es responsabilidad del Usuario visitar peri&oacute;dicamente este Sitio Web
      para mantenerse al tanto de los t&eacute;rminos vigentes. Cualquier notificaci&oacute;n, t&eacute;rmino u
      otro requisito expresamente especificado o integrado en el Sitio Web se considerar&aacute; parte integral de
      los presentes T&eacute;rminos y Condiciones. Los T&eacute;rminos y Condiciones podr&aacute;n ser
      parcialmente sustituidos por los avisos legales, t&eacute;rminos o requerimientos m&aacute;s actualizados
      expresamente especificados o integrados en el Sitio Web. Al aceptar los T&eacute;rminos y Condiciones, el
      Usuario acuerda que tambi&eacute;n ha le&iacute;do con atenci&oacute;n y aceptado dichos t&eacute;rminos
      sustituidos o referidos. Mientras el Usuario contin&uacute;e utilizando los servicios de SANTEGA, se
      considerar&aacute; que ha aceptado los T&eacute;rminos y Condiciones actualizados y vigentes.</span></p>
  <p class="c7"><span class="c1 c0">Ambas partes aceptan y reconocen que el Usuario utilizar&aacute; medios
      electr&oacute;nicos para demostrar que ha le&iacute;do y aceptado los presentes T&eacute;rminos y
      Condiciones de los servicios ofrecidos por SANTEGA, S.A. de C.V.</span></p>
  <ol class="c5 lst-kix_list_20-0 start" start="1">
    <li class="c7 c8 li-bullet-2"><span class="c1 c11">Glosario de T&eacute;rminos Utilizados</span></li>
  </ol>
  <p class="c7"><span class="c1 c0">&quot;Fecha y hora de la transacci&oacute;n&quot;: Corresponde a la fecha y hora
      detalladas, incluyendo a&ntilde;o, mes, d&iacute;a, hora, minutos y segundos, de una operaci&oacute;n
      realizada dentro del sistema de SANTEGA. Esta informaci&oacute;n se registra en el momento en que la
      transacci&oacute;n se completa y se efect&uacute;a el pago, independientemente del M&eacute;todo de pago
      utilizado. Asimismo, se establece la hora l&iacute;mite para que una transacci&oacute;n sea aceptada,
      dependiendo del M&eacute;todo de Pago, para que el monto de la operaci&oacute;n se considere completada y
      pagada.</span></p>
  <p class="c7"><span class="c1 c0">&quot;Datos Personales&quot;: Se refiere a cualquier informaci&oacute;n que
      permita identificar directa o indirectamente a un individuo, incluyendo aquella que est&eacute;
      &quot;vinculada&quot; o &quot;pudiera vincularse&quot; con dicho individuo.</span></p>
  <p class="c7"><span class="c1 c0">&quot;Datos Personales Sensibles&quot;: Son aquellos Datos Personales que afectan
      la esfera m&aacute;s &iacute;ntima de su titular, o cuya utilizaci&oacute;n indebida pueda dar lugar a
      discriminaci&oacute;n o represente un riesgo grave para &eacute;ste.</span></p>
  <p class="c7"><span class="c1 c0 c14">&quot;Factores de Autenticaci&oacute;n&quot;: Constituyen los mecanismos
      tangibles o intangibles utilizados para autenticar la identidad de un usuario.</span></p>
  <ol class="c5 lst-kix_list_22-0 start" start="1">
    <li class="c10 li-bullet-2"><span class="c1 c0 c14">N&uacute;mero de Contrato.</span></li>
    <li class="c10 li-bullet-2"><span class="c1 c0 c14">Nombre completo o Raz&oacute;n Social. </span></li>
    <li class="c10 li-bullet-2"><span class="c1 c0 c14">Clave de Registro Federal de Contribuyentes del
        Usuario.</span></li>
    <li class="c6 li-bullet-1"><span class="c1 c0 c14">Domicilio, Tel&eacute;fono fijo o m&oacute;vil, y/o correo
        electr&oacute;nico.</span></li>
  </ol>
  <p class="c7"><span class="c1 c0">&quot;Medios Electr&oacute;nicos&quot;: Engloba los equipos de cualquier
      tecnolog&iacute;a, sistemas automatizados de procesamiento de datos, redes de telecomunicaciones y cualquier
      otro canal electr&oacute;nico que est&eacute; disponible para el Usuario.</span></p>
  <p class="c7"><span class="c1 c0">&quot;M&eacute;todo de Pago&quot;: Se refiere a los diversos m&eacute;todos
      disponibles que SANTEGA ofrece al Usuario dentro del Sistema de Pagos en L&iacute;nea.</span></p>
  <p class="c7"><span class="c1 c0">&quot;SANTEGA&quot;: Hace referencia a SANTEGA S.A. de C.V.</span></p>
  <p class="c7"><span class="c1 c0">&quot;Sitio Web&quot;: (Enlace al Sitio Web).</span></p>
  <p class="c7"><span class="c1 c0">&quot;SPEI&quot;: Se trata del &quot;Sistema de Pagos Electr&oacute;nicos
      Interbancarios&quot;, una plataforma desarrollada y operada por el Banco de M&eacute;xico
      (&quot;BANXICO&quot;) que permite al p&uacute;blico enviar y recibir dinero a trav&eacute;s de
      transferencias electr&oacute;nicas entre cuentas bancarias.</span></p>
  <p class="c7"><span class="c1 c0">&quot;Tarjeta de Cr&eacute;dito o D&eacute;bito&quot;: Es un medio de
      disposici&oacute;n que identifica y asocia al titular de la tarjeta con la l&iacute;nea de cr&eacute;dito
      otorgada por el banco o con la cuenta de dep&oacute;sito de dinero a la vista contratada con el
      mismo.</span></p>
  <ol class="c5 lst-kix_list_20-0" start="2">
    <li class="c7 c8 li-bullet-2"><span class="c1 c11">Contenido y Uso</span></li>
  </ol>
  <p class="c7"><span class="c0">Para utilizar los Servicios, el Usuario debe acceder al Sitio </span><span
      class="c0 c14">Web y completar satisfactoriamente el proceso de registro proporcionando a
      SANTEGA</span><span class="c1 c0">&nbsp;informaci&oacute;n de identificaci&oacute;n, incluyendo, pero no
      limitada a la direcci&oacute;n de correo electr&oacute;nico y otra informaci&oacute;n, como se describe en
      los Factores de Autenticaci&oacute;n. Al registrarse, el Usuario debe garantizar que toda la
      informaci&oacute;n proporcionada sea precisa, completa y v&aacute;lida.</span></p>
  <p class="c7"><span class="c0">El Usuario es el &uacute;nico responsable de su cuenta y de mantener la
      confidencialidad y seguridad de su </span><span class="c0">contrase&ntilde;a</span><sup><a href="#cmnt1"
        id="cmnt_ref1">[a]</a></sup><span class="c1 c0">&nbsp;y otra informaci&oacute;n de registro. Para
      protecci&oacute;n propia y de otros usuarios, es fundamental no compartir la informaci&oacute;n de registro
      con terceros.</span></p>
  <p class="c7"><span class="c1 c0">El Usuario debe tener plena capacidad legal y de ejercicio seg&uacute;n lo
      establecido en el C&oacute;digo Civil Federal. Una persona menor de 18 a&ntilde;os de edad o que no tenga
      plena capacidad legal y de ejercicio no podr&aacute; ser Usuario.</span></p>
  <p class="c7"><span class="c1 c0">Los presentes T&eacute;rminos y Condiciones rigen el acceso, uso y funcionalidad
      del Sitio Web, independientemente de si el Usuario accede al Sitio web o no para utilizar el Sistema de
      Pagos en L&iacute;nea.</span></p>
  <p class="c7"><span class="c1 c0">El contenido del Sitio Web: i) est&aacute; regido exclusivamente por la
      legislaci&oacute;n de los Estados Unidos Mexicanos y est&aacute; formulado para operaciones realizadas
      dentro de dicho territorio; ii) SANTEGA, sus proveedores y/o socios comerciales no ser&aacute;n responsables
      por errores tipogr&aacute;ficos, cambios o mejoras peri&oacute;dicas al Sitio Web; iii) las recomendaciones
      obtenidas a trav&eacute;s del Sitio Web son de naturaleza general y no deben influir en decisiones
      personales o empresariales; y iv) podr&aacute; ser modificado por SANTEGA sin previo aviso.</span></p>
  <ol class="c5 lst-kix_list_20-0" start="3">
    <li class="c7 c8 li-bullet-1"><span class="c1 c3">Los Servicios</span></li>
  </ol>
  <p class="c7"><span class="c1 c0">El Sitio Web ofrece un Sistema de Pagos en L&iacute;nea que facilita los pagos
      electr&oacute;nicos, los cuales pueden ser utilizados a elecci&oacute;n del Usuario para pagar sus
      obligaciones contractuales previamente acordadas con SANTEGA.</span></p>
  <p class="c7"><span class="c1 c0">Esta secci&oacute;n resume puntos importantes sobre los riesgos y
      responsabilidades del Usuario al utilizar el Sistema de Pagos en L&iacute;nea. Aunque se advierte sobre la
      importancia de proteger y utilizar adecuadamente los Factores de Autenticaci&oacute;n, el Usuario debe leer
      detenidamente los presentes T&eacute;rminos y Condiciones antes de utilizar este servicio:</span></p>
  <ol class="c5 lst-kix_list_21-0 start" start="1">
    <li class="c10 li-bullet-2"><span class="c1 c0">El Sistema de Pagos en L&iacute;nea permite al Usuario realizar
        operaciones y acceder a diversos servicios, como el pago de obligaciones contractuales previamente
        establecidas con SANTEGA, S.A. de C.V., as&iacute; como la consulta de </span><span
        class="c1 c0">saldo.</span><sup><a href="#cmnt2" id="cmnt_ref2">[b]</a></sup></li>
    <li class="c10 li-bullet-2"><span class="c1 c0">El uso de los Factores de Autenticaci&oacute;n autoriza a
        SANTEGA a cumplir con las operaciones realizadas por el Usuario, por lo que &eacute;ste es responsable
        de su correcto uso y de las instrucciones emitidas al utilizarlos. Es importante que el Usuario
        comprenda que SANTEGA solo estar&aacute; obligado a recuperar el dinero cargado o revertir la
        operaci&oacute;n realizada de acuerdo con la normativa aplicable y en los casos expresamente previstos,
        o cuando as&iacute; lo instruya una autoridad competente. Sin embargo, el Usuario tiene derecho a
        presentar aclaraciones que considere necesarias, las cuales ser&aacute;n revisadas por SANTEGA y, si
        corresponde, el Usuario puede recurrir a las autoridades o tribunales competentes.</span></li>
    <li class="c10 li-bullet-2"><span class="c1 c0">&nbsp;El Usuario debe cuidar y no compartir sus Factores de
        Autenticaci&oacute;n ni usarlos en presencia de terceros, y solo conectarse en dispositivos
        electr&oacute;nicos seguros o en conexiones de internet seguras para evitar operaciones no
        autorizadas.</span></li>
    <li class="c6 li-bullet-1"><span class="c1 c0">SANTEGA implementa diversas medidas de seguridad en el Sitio Web,
        pero es responsabilidad del Usuario seguir las recomendaciones de seguridad para evitar el uso indebido
        de sus datos. A menos que SANTEGA o la autoridad competente identifiquen una falla en las operaciones
        realizadas que sea atribuible a SANTEGA, el Usuario ser&aacute; responsable de todas las operaciones
        llevadas a cabo con sus Factores de Autenticaci&oacute;n, incluso si declara no haberlas
        realizado.</span></li>
  </ol>
  <p class="c7"><span class="c9">Limitaci&oacute;n de Responsabilidad:</span></p>
  <p class="c7"><span class="c1 c0">En ning&uacute;n caso SANTEGA asumir&aacute; responsabilidad frente al Usuario por
      da&ntilde;os incidentales, especiales, consecuenciales, directos, indirectos o punitivos, ya sea fundada en
      garant&iacute;a, contrato, agravio (incluida negligencia), estatuto, o cualquier otra base legal. Asimismo,
      SANTEGA no ser&aacute; responsable por el uso que el Usuario haga de los Servicios.</span></p>
  <p class="c7"><span class="c9">Obligaciones y Derechos:</span></p>
  <p class="c7"><span class="c1 c0">Esta secci&oacute;n establece las obligaciones, derechos y compromisos aplicables
      a ambas partes en relaci&oacute;n con el uso del Sistema de Pagos en L&iacute;nea y, en general, del Sitio
      Web.</span></p>
  <p class="c7"><span class="c1 c0">Tanto SANTEGA como el Usuario se comprometen a lo siguiente con respecto al uso
      del Sitio Web y del Sistema de Pagos en L&iacute;nea:</span></p>
  <ol class="c5 lst-kix_list_23-0 start" start="1">
    <li class="c10 li-bullet-1"><span class="c3 c1">Consentimiento, Validez y Exigibilidad:</span></li>
  </ol>
  <ol class="c5 lst-kix_list_24-1 start" start="1">
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Manifestaci&oacute;n de voluntad para utilizar el Sitio Web:
        El Usuario reconoce que utiliza el Sitio Web para acceder al Sistema de Pagos en L&iacute;nea en
        relaci&oacute;n con las obligaciones de pago acordadas previamente con SANTEGA en contratos anteriores.
        Adem&aacute;s, declara comprender el alcance de la utilizaci&oacute;n del Sitio Web y todas las
        operaciones que pueden llevarse a cabo a trav&eacute;s de &eacute;l, expresando su voluntad de acceder a
        los mismos.</span></li>
  </ol>
  <p class="c13 c18 c15"><span class="c1 c0"></span></p>
  <ol class="c5 lst-kix_list_24-1" start="2">
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Validez y exigibilidad de los actos realizados en el Sitio
        Web: El Usuario reconoce la validez y exigibilidad de las operaciones realizadas y servicios utilizados
        a trav&eacute;s del Sitio Web. Dichas operaciones y registros de servicios tendr&aacute;n el mismo valor
        jur&iacute;dico y probatorio en juicio que los actos celebrados en medios escritos o impresos.</span>
    </li>
  </ol>
  <p class="c13 c18 c15"><span class="c1 c0"></span></p>
  <ol class="c5 lst-kix_list_24-1" start="3">
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Reconocimiento de claves: El Usuario reconoce la validez de
        sus Factores de Autenticaci&oacute;n para expresar su voluntad y consentimiento en la realizaci&oacute;n
        de operaciones, as&iacute; como en la aceptaci&oacute;n de los t&eacute;rminos y condiciones aplicables.
        Esto tambi&eacute;n se aplica a los clics realizados por el Usuario en botones con leyendas como
        &quot;Continuar&quot;, &quot;Solicitar&quot;, &quot;Siguiente&quot;, &quot;Confirmar&quot;, u otras
        similares, que representen la aceptaci&oacute;n del Usuario, quien reconoce que estas acciones
        constituyen su consentimiento expreso.</span></li>
  </ol>
  <p class="c13 c18 c15"><span class="c1 c0"></span></p>
  <p class="c13 c18"><span class="c1 c0">Desde el momento en que el Usuario recibe o activa los Factores de
      Autenticaci&oacute;n, ser&aacute; responsable de su uso, custodia y protecci&oacute;n. Ambas partes acuerdan
      que SANTEGA no ser&aacute; responsable por el uso indebido de los Factores de Autenticaci&oacute;n, ya sea
      por parte del Usuario o de terceros, salvo en los casos en que la operaci&oacute;n correspondiente haya sido
      autorizada sin ellos, en los que exista evidencia de que SANTEGA entreg&oacute; indebidamente los Factores
      de Autenticaci&oacute;n a un tercero o permiti&oacute; su uso no autorizado, o en los que exista evidencia
      de vulneraci&oacute;n de los sistemas de SANTEGA. Sin perjuicio de lo anterior, el Usuario conserva el
      derecho de recurrir a las autoridades y tribunales competentes para ejercer las acciones que considere
      pertinentes si considera que SANTEGA es responsable, mientras que SANTEGA se reserva el derecho de
      defenderse y hacer valer el contrato, los presentes T&eacute;rminos y Condiciones, as&iacute; como sus
      derechos ante cualquier acci&oacute;n.</span></p>
  <p class="c13 c18 c15"><span class="c1 c0"></span></p>
  <ol class="c5 lst-kix_list_24-1" start="4">
    <li class="c7 c8 li-bullet-2"><span class="c1 c0">Medios de Pago: El Usuario acepta proporcionar los datos de su
        tarjeta de d&eacute;bito, cr&eacute;dito u otro medio de pago electr&oacute;nico que SANTEGA acepte,
        manifestando su consentimiento para que SANTEGA realice los cargos correspondientes a las operaciones
        realizadas a trav&eacute;s del Sistema de Pagos en L&iacute;nea del Sitio Web.</span></li>
  </ol>
  <p class="c7"><span class="c1 c0">SANTEGA podr&aacute; utilizar procesadores de pagos de terceros para vincular la
      tarjeta de d&eacute;bito o cr&eacute;dito del Usuario u otro Medio de Pago electr&oacute;nico proporcionado
      en el Sitio Web.</span></p>
  <p class="c7"><span class="c1 c0">El procesamiento de pagos relacionado con las operaciones realizadas por el
      Usuario estar&aacute; sujeto a las condiciones y pol&iacute;ticas de privacidad del procesador de pagos y
      del emisor de la tarjeta de d&eacute;bito o cr&eacute;dito, adem&aacute;s de los presentes T&eacute;rminos y
      Condiciones. SANTEGA no ser&aacute; responsable de ning&uacute;n error del procesador de pagos.</span></p>
  <ol class="c5 lst-kix_list_23-0" start="2">
    <li class="c6 li-bullet-2"><span class="c1 c11">Sitio Web Autorizado</span></li>
  </ol>
  <p class="c7"><span class="c1 c0">Corresponde al Usuario garantizar el uso adecuado de los Factores de
      Autenticaci&oacute;n exclusivamente en el sitio web oficial de SANTEGA; esto incluye verificar la
      correcci&oacute;n de la direcci&oacute;n de internet.</span></p>
  <ol class="c5 lst-kix_list_23-0" start="3">
    <li class="c6 li-bullet-2"><span class="c1 c11">Medidas de seguridad que debe adoptar el Usuario y medidas que
        puede adoptar SANTEGA</span></li>
  </ol>
  <p class="c7"><span class="c1 c0">El Usuario se compromete a salvaguardar la confidencialidad de sus Factores de
      Autenticaci&oacute;n, a mantener su uso en secreto y a no divulgarlos a terceros, asumiendo la
      responsabilidad por cualquier uso indebido que terceros puedan hacer de estos Factores debido a su
      divulgaci&oacute;n o negligencia en su custodia. Adem&aacute;s, el Usuario reconoce y acepta seguir, en la
      medida de lo posible, las siguientes medidas de seguridad:</span></p>
  <ol class="c5 lst-kix_list_25-1 start" start="1">
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Utilizar &uacute;nicamente dispositivos seguros y de su
        propiedad para acceder al Sitio Web.</span></li>
    <li class="c13 c8 li-bullet-1"><span class="c1 c0">Abstenerse de instalar software o acceder a p&aacute;ginas
        web que carezcan de los certificados de seguridad web adecuados y puedan representar un riesgo para los
        dispositivos utilizados para acceder al Sitio Web.</span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Evitar la instalaci&oacute;n de software sin los certificados
        de seguridad firmados y actualizados del desarrollador o de empresas reconocidas, o cuando se tenga
        conocimiento de que es de origen dudoso, en los medios electr&oacute;nicos utilizados para acceder al
        Sitio Web.</span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Impedir que terceros observen cuando se ingresa al perfil o
        se utilizan los servicios del Sitio Web.</span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">Cerrar la sesi&oacute;n de manera inmediata una vez concluida
        la operaci&oacute;n correspondiente, as&iacute; como asegurarse de que el medio electr&oacute;nico y/o
        navegador no tenga activadas las opciones de sesi&oacute;n permanente o recordatorio de Factores de
        Autenticaci&oacute;n.</span></li>
    <li class="c7 c8 li-bullet-2"><span class="c1 c0">Mantener actualizados sus datos para recibir notificaciones
        sobre las operaciones realizadas.</span></li>
  </ol>
  <p class="c7"><span class="c1 c0">Aunque SANTEGA implementa diversas medidas para garantizar la seguridad del Sitio
      Web, es responsabilidad del Usuario cumplir con las recomendaciones de seguridad para evitar el uso no
      autorizado de sus datos por parte de terceros. A menos que SANTEGA o la autoridad competente identifiquen
      una falla en las operaciones realizadas que sea atribuible a SANTEGA, se considera que el Usuario es
      responsable de todas las operaciones realizadas con sus Factores de Autenticaci&oacute;n, incluso si el
      Usuario niega su participaci&oacute;n en ellas.</span></p>
  <p class="c7"><span class="c1 c0">Sin perjuicio de lo anterior, el Usuario reconoce y acepta que la validez y la
      ejecuci&oacute;n de las operaciones descritas en esta secci&oacute;n no dependen del cumplimiento de las
      pol&iacute;ticas de prevenci&oacute;n de SANTEGA ni de las disposiciones generales mencionadas
      anteriormente, sino del uso de los Factores de Autenticaci&oacute;n seg&uacute;n lo establecido aqu&iacute;.
      En consecuencia, SANTEGA solo ser&aacute; responsable en los casos en que la operaci&oacute;n
      correspondiente haya sido autorizada sin los Factores de Autenticaci&oacute;n, cuando exista evidencia de
      que SANTEGA entreg&oacute; indebidamente dichos factores a un tercero o permiti&oacute; su uso no
      autorizado, o cuando haya evidencia de vulnerabilidad en los sistemas de SANTEGA. En este sentido, el
      Usuario acepta que SANTEGA pueda suspender o cancelar operaciones, solicitar confirmaciones adicionales o
      incluso restringir la disposici&oacute;n de recursos si cuenta con informaci&oacute;n suficiente para
      sospechar del uso indebido de los Factores de Autenticaci&oacute;n. No obstante, el Usuario reconoce y
      acepta expresamente que las medidas y controles implementados por SANTEGA no garantizan la detecci&oacute;n
      del uso indebido de los Factores de Autenticaci&oacute;n. </span></p>
  <p class="c7"><span class="c9">Causas Ajenas a SANTEGA</span></p>
  <ol class="c5 lst-kix_list_26-1 start" start="1">
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">No se responsabiliza por fallas en el funcionamiento de los
        Medios Electr&oacute;nicos del Usuario ni su mantenimiento, tampoco por desperfectos ocasionados por
        cortes de energ&iacute;a el&eacute;ctrica o problemas en el servicio de datos de telefon&iacute;a
        celular.</span></li>
    <li class="c13 c8 li-bullet-1"><span class="c1 c0">No se har&aacute; responsable de errores, interrupciones y
        demoras en la transmisi&oacute;n del servicio debido a casos fortuitos o fuerza mayor.</span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">No asume responsabilidad por el acceso al Sitio Web a
        trav&eacute;s de Medios Electr&oacute;nicos ubicados en lugares considerados como riesgosos o mediante
        el uso de otros Medios Electr&oacute;nicos distintos a los del Usuario.</span></li>
    <li class="c13 c8 li-bullet-2"><span class="c0 c1">No se responsabiliza si el Usuario utiliza los Medios
        Electr&oacute;nicos para otras funciones y, como resultado, no pueda acceder al Sitio Web.</span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0">No ser&aacute; responsable por fallas o problemas de
        conexi&oacute;n o conectividad relacionados con el servicio de internet o el de datos de
        telefon&iacute;a celular.</span></li>
    <li class="c7 c8 li-bullet-1"><span class="c1 c0">No asume responsabilidad por la instalaci&oacute;n o presencia
        de software maligno en los Medios Electr&oacute;nicos del Usuario.</span></li>
  </ol>
  <p class="c7"><span class="c3 c28">Registro de Cuenta</span><sup><a href="#cmnt3" id="cmnt_ref3">[c]</a></sup></p>
  <p class="c7"><span class="c1 c0 c14">El Usuario reconoce que ser&aacute; completamente responsable del ingreso al
      Sistema de Pagos en L&iacute;nea del Sitio Web seg&uacute;n lo siguiente y seg&uacute;n lo habilite
      SANTEGA:</span></p>
  <ol class="c5 lst-kix_list_27-0 start" start="1">
    <li class="c8 c13 li-bullet-2"><span class="c1 c0 c14">Usuario: compuesto por el n&uacute;mero de cuenta, nombre
        completo y Registro Federal de Contribuyentes.</span></li>
    <li class="c13 c8 li-bullet-2"><span class="c1 c0 c14">Contrase&ntilde;a: clave alfanum&eacute;rica para acceder
        al Sitio Web, que debe contener al menos 8 (ocho) caracteres y cumplir con las siguientes reglas de
        creaci&oacute;n:</span></li>
  </ol>
  <ol class="c5 lst-kix_list_27-1 start" start="1">
    <li class="c13 c26 li-bullet-2"><span class="c1 c0 c14">No repetir caracteres alfanum&eacute;ricos para evitar
        que el nombre de usuario y la contrase&ntilde;a sean id&eacute;nticos.</span></li>
    <li class="c13 c26 li-bullet-2"><span class="c1 c0 c14">No utilizar la denominaci&oacute;n de SANTEGA o una
        similar.</span></li>
    <li class="c7 c26 li-bullet-2"><span class="c1 c0 c14">Debe incluir al menos una letra may&uacute;scula, una
        min&uacute;scula y un n&uacute;mero</span><span class="c1 c0">.</span></li>
  </ol>
  <p class="c7 c15"><span class="c1 c0"></span></p>
  <p class="c7"><span class="c9">Propiedad Intelectual</span></p>
  <p class="c7"><span class="c1 c0">SANTEGA y sus filiales poseen los derechos de propiedad intelectual de todo el
      contenido distribuido en SANTEGA, incluyendo, entre otros, el software proporcionado y los productos o
      servicios relacionados. Estos derechos est&aacute;n protegidos por las leyes correspondientes. La ausencia
      de una declaraci&oacute;n de titularidad en cierto contenido no indica que SANTEGA carezca de titularidad
      sobre el mismo o no pueda hacer valer sus derechos. El Usuario debe respetar los derechos e intereses
      leg&iacute;timos del titular y utilizar dicho contenido de manera legal, conforme a las leyes y regulaciones
      aplicables, y bajo el principio de buena fe.</span></p>
  <p class="c7"><span class="c1 c0">Sin el consentimiento por escrito de SANTEGA, ninguna persona f&iacute;sica o
      jur&iacute;dica podr&aacute; utilizar, copiar, modificar, extraer, incluir con otros productos para su uso o
      venta, vincular ni transmitir a trav&eacute;s de un hiperenlace, almacenar en un sistema de
      recuperaci&oacute;n de informaci&oacute;n ni utilizar de ninguna otra manera con fines comerciales cualquier
      parte del software, productos o servicios, informaci&oacute;n o marcas mencionadas anteriormente, bajo
      ninguna circunstancia, excepto para la descarga o impresi&oacute;n para uso personal no comercial.
      Adem&aacute;s, cualquier material descargado o impreso para uso personal no comercial no debe ser
      modificado, y la declaraci&oacute;n de derechos de autor u otra titularidad contenida en ellos debe
      conservarse.</span></p>
  <p class="c7"><span class="c1 c0">Las marcas comerciales y logotipos utilizados y mostrados en dicho software
      constituir&aacute;n las marcas comerciales, registradas o no registradas, de SANTEGA y sus filiales en las
      clases relacionadas con los Servicios, y est&aacute;n protegidas por las leyes correspondientes. Nadie puede
      usar el contenido de dicho software, as&iacute; como las marcas comerciales, de ninguna manera sin el
      consentimiento por escrito de SANTEGA.</span></p>
  <p class="c7"><span class="c1 c0">Si el Usuario imprime, copia, descarga, modifica o vincula cualquier parte del
      Contenido disponible a trav&eacute;s de la p&aacute;gina web o la aplicaci&oacute;n, incumpliendo los
      presentes T&eacute;rminos y Condiciones, el derecho del Usuario de utilizar los Sitios Web de SANTEGA y la
      aplicaci&oacute;n puede suspenderse o cancelarse inmediatamente. Adem&aacute;s, a discreci&oacute;n de
      SANTEGA, el Usuario deber&aacute; devolver o destruir cualquier copia (electr&oacute;nica o en otro formato)
      de los materiales que haya realizado.</span></p>
  <p class="c7"><span class="c9">Suspensi&oacute;n y Terminaci&oacute;n</span></p>
  <p class="c7"><span class="c1 c0">SANTEGA determinar&aacute;, a su entera discreci&oacute;n, si el Usuario ha
      incurrido en un incumplimiento de los presentes T&eacute;rminos y Condiciones, en cuyo caso podr&aacute;
      tomar las medidas que considere adecuadas, las cuales podr&aacute;n consistir en:</span></p>
  <p class="c7"><span class="c1 c0">a) Notificaci&oacute;n del incumplimiento y reiteraci&oacute;n de las obligaciones
      correspondientes, as&iacute; como de las consecuencias de no cumplirlas;</span></p>
  <p class="c7"><span class="c1 c0">b) Notificaci&oacute;n a las autoridades competentes sobre actos que constituyan
      incumplimiento de los T&eacute;rminos y Condiciones o de las disposiciones legales aplicables, as&iacute;
      como de cualquier informaci&oacute;n relevante;</span></p>
  <p class="c7"><span class="c1 c0">c) Suspensi&oacute;n o retiro inmediato, temporal o permanente, del derecho del
      Usuario a utilizar el Sitio, y Acciones legales contra el Usuario para reclamar los da&ntilde;os y
      perjuicios causados a SANTEGA o sus filiales por causas imputables al Usuario (incluyendo, sin
      limitaci&oacute;n, costos administrativos y legales razonables), as&iacute; como cualesquiera otras acciones
      legales adicionales contra el Usuario.</span></p>
  <p class="c7"><span class="c9">Modificaciones</span></p>
  <p class="c7"><span class="c1 c0">SANTEGA se reserva el derecho a actualizar, modificar o reemplazar cualquier parte
      de estos T&eacute;rminos y Condiciones, mediante la publicaci&oacute;n de actualizaciones y/o cambios en el
      Sitio Web. Es responsabilidad del Usuario revisar esta p&aacute;gina peri&oacute;dicamente para estar al
      tanto de los cambios. El uso continuado despu&eacute;s de la publicaci&oacute;n de los cambios constituye la
      aceptaci&oacute;n de dichos cambios por parte del Usuario.</span></p>
  <p class="c7"><span class="c9">Disposiciones generales</span></p>
  <p class="c7"><span class="c1 c0">Si alg&uacute;n tribunal o autoridad competente determina que alguna
      disposici&oacute;n de los T&eacute;rminos y Condiciones (o parte de los mismos) es inv&aacute;lida, ilegal o
      nula, dicha disposici&oacute;n, o parte de ella, se considerar&aacute; eliminada en la medida necesaria, y
      la validez y exigibilidad de las dem&aacute;s disposiciones de estos T&eacute;rminos y Condiciones no se
      ver&aacute;n afectadas.</span></p>
  <p class="c7"><span class="c1 c0">SANTEGA podr&aacute; realizar notificaciones al Usuario mediante una
      notificaci&oacute;n general en su Sitio Web, o mediante el env&iacute;o de un correo electr&oacute;nico o
      mensaje de texto a la direcci&oacute;n de correo electr&oacute;nico o n&uacute;mero de tel&eacute;fono
      m&oacute;vil registrado en la informaci&oacute;n de la cuenta del Usuario. Estas notificaciones, que
      podr&aacute;n publicarse de vez en cuando, ser&aacute;n v&aacute;lidas a partir del momento de su
      env&iacute;o y constituir&aacute;n parte integral de los presentes T&eacute;rminos y Condiciones.</span></p>
  <p class="c7"><span class="c1 c0">El Usuario no podr&aacute; transferir o ceder, total o parcialmente, los derechos
      que adquiere en virtud de estos T&eacute;rminos y Condiciones, ni las obligaciones que asume por ellos, sin
      el consentimiento previo y por escrito de SANTEGA, S.A. de C.V. Adem&aacute;s, se compromete a no realizar
      declaraciones p&uacute;blicas sobre el Servicio en los medios de comunicaci&oacute;n sin el previo
      consentimiento y por escrito de SANTEGA.</span></p>
  <p class="c7"><span class="c9">Tratamiento de Datos Personales</span></p>
  <p class="c7"><span class="c1 c0">SANTEGA, en calidad de responsable del tratamiento de los Datos Personales del
      Usuario, conforme a lo dispuesto por la Ley Federal de Protecci&oacute;n de Datos Personales en
      Posesi&oacute;n de los Particulares, su Reglamento y dem&aacute;s normativa aplicable, se compromete a
      emplear los Datos Personales y Datos Personales Sensibles proporcionados por el Usuario exclusivamente para
      los fines pertinentes a los Servicios ofrecidos por SANTEGA.</span></p>
  <p class="c7"><span class="c0">Los Datos Personales, as&iacute; como los Datos Personales Sensibles, patrimoniales y
      financieros del Usuario, ser&aacute;n tratados con el fin de cumplir las obligaciones derivadas de la
      relaci&oacute;n jur&iacute;dica que mantenga el Usuario con SANTEGA. Para obtener informaci&oacute;n
      adicional sobre el tratamiento de datos y los derechos que el Usuario puede ejercer, se recomienda consultar
      nuestro Aviso de Privacidad Integral (</span><span class="c0 c4">ENLACE AL AVISO DE PRIVACIDAD).</span><span
      class="c1 c0">&nbsp;Este documento proporciona al Usuario informaci&oacute;n detallada sobre los
      t&eacute;rminos bajo los cuales se manejan los Datos Personales recopilados o proporcionados por el Usuario,
      as&iacute; como las finalidades de su tratamiento, la transferencia a terceros y los mecanismos para ejercer
      los derechos de acceso, rectificaci&oacute;n, cancelaci&oacute;n y oposici&oacute;n (conocidos como
      &quot;Derechos ARCO&quot;), los cuales el Usuario declara conocer y aceptar.</span></p>
  <p class="c7"><span class="c9">Confidencialidad</span></p>
  <p class="c7"><span class="c1 c0">SANTEGA se compromete a mantener en todo momento la privacidad y confidencialidad
      de la informaci&oacute;n y documentaci&oacute;n relacionada con las operaciones realizadas, sin divulgarla a
      terceras personas no autorizadas.</span></p>
  <p class="c7"><span class="c1 c0">El Usuario reconoce que SANTEGA podr&aacute;, sin requerir su consentimiento
      previo, proporcionar a las autoridades competentes, cuando as&iacute; lo soliciten o conforme a la normativa
      aplicable, la informaci&oacute;n pertinente sobre las operaciones realizadas en el Sitio Web, incluyendo
      aquella de naturaleza sensible.</span></p>
  <p class="c7"><span class="c9">Vigencia</span></p>
  <p class="c7"><span class="c1 c0">Los presentes T&eacute;rminos y Condiciones, convenidos entre el Usuario y
      SANTEGA, junto con sus eventuales actualizaciones, permanecer&aacute;n vigentes durante todo el
      per&iacute;odo en que el Usuario haga uso del Sitio Web.</span></p>
  <p class="c7"><span class="c1 c0">La terminaci&oacute;n de la relaci&oacute;n comercial entre SANTEGA y el Usuario,
      as&iacute; como el cese del acceso al Sitio Web por parte de este &uacute;ltimo, independientemente de la
      raz&oacute;n que lo motive, no eximir&aacute; al Usuario de las obligaciones estipuladas en los presentes
      T&eacute;rminos y Condiciones.</span></p>
  <p class="c7"><span class="c1 c0">Aun despu&eacute;s de finalizada la relaci&oacute;n con el Usuario y su acceso al
      Sitio Web, este seguir&aacute; siendo responsable de cumplir con las obligaciones derivadas del uso de los
      Servicios.</span></p>
  <p class="c7"><span class="c9">Legislaci&oacute;n Aplicable</span></p>
  <p class="c7"><span class="c1 c0">Los presentes T&eacute;rminos y Condiciones se regir&aacute;n por las leyes
      federales vigentes en M&eacute;xico. Cualquier conflicto, reclamaci&oacute;n o controversia derivada de, o
      relacionada con, el incumplimiento, la terminaci&oacute;n, el cumplimiento, la interpretaci&oacute;n o la
      validez de los presentes T&eacute;rminos y Condiciones, as&iacute; como el uso del Sitio, ser&aacute;
      sometido a la jurisdicci&oacute;n de los tribunales federales competentes de la Ciudad de Monterrey, Nuevo
      Le&oacute;n. El Usuario, mediante su aceptaci&oacute;n, renuncia de manera expresa e irrevocable a cualquier
      otra jurisdicci&oacute;n que pudiera corresponderle en virtud de su domicilio actual o futuro.</span></p>
  <p class="c7"><span class="c1 c0">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&copy;&#65039; 2024 SANTEGA</span></p>
  <p class="c13 c18 c15"><span class="c1 c2"></span></p>
  <ol class="c5 lst-kix_list_1-0" start="2">
    <li class="c7 c17 li-bullet-0"><span class="c1 c2">UBICACI&Oacute;N</span></li>
  </ol>
  <p class="c7 c30"><span class="c1 c25">Calle Valle Sol n&uacute;mero 122, Interior 201, Colonia La Diana, en el
      Municipio de San Pedro Garza Garc&iacute;a, Nuevo Le&oacute;n C&oacute;digo Postal 66266.</span></p>
  <ol class="c5 lst-kix_list_1-0" start="3">
    <li class="c13 c17 li-bullet-0"><span class="c1 c2">N&Uacute;MERO DE CONTACTO</span></li>
  </ol>
  <p class="c13 c29"><span class="c1 c25">Tel: 8183464828</span></p>
  <p class="c13 c15 c18"><span class="c1 c2"></span></p>
  <ol class="c5 lst-kix_list_1-0" start="4">
    <li class="c13 c17 li-bullet-0"><span class="c1 c2">CORREO ELECTR&Oacute;NICO DEL CONTACTO</span></li>
  </ol>
  <p class="c7 c29"><span class="c1 c31">info@santega.com</span></p>
  <div class="c27">
    <p class="c23"><a href="#cmnt_ref1" id="cmnt1">[a]</a><span class="c1 c20">Si tendr&aacute;n
        contrase&ntilde;a?</span></p>
  </div>
  <div class="c27">
    <p class="c23"><a href="#cmnt_ref2" id="cmnt2">[b]</a><span class="c1 c20">Nose si se llame as&iacute;</span>
    </p>
  </div>
  <div class="c27">
    <p class="c23"><a href="#cmnt_ref3" id="cmnt3">[c]</a><span class="c1 c20">Nose si habr&aacute; como tal un
        registro de cuenta,</span></p>
  </div>
</div>
