
  <div class="page-loader">
    <div class="page-loader-content">

      <div class="page-loader-circles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
      </div>

      <div>
        <p class="page-loader-content-text">
          Cargando metodos de Pago.
        </p>
        <p class="page-loader-content-text">
          Por favor, <span>no cierre</span> la ventana mientras se cargan los elementos.
        </p>
        <p class="page-loader-content-text">
          Gracias por su paciencia.
        </p>
      </div>
    </div>
  </div>
