<div class="auth">

    <h2 class="auth-title">
        Registro
    </h2>
    <div class="auth-content auth-content-register">
        <div class="auth-content-left">
            <img src="assets/contact-background.png" alt="contact-background.png">
            <div class="auth-content-left-rgba"></div>
        </div>
        <div class="auth-content-right">
            <form class="auth-form" [formGroup]="registerForm" (ngSubmit)="ValidaRegistroPaso1();" *ngIf="paso == 1">
                <div class="auth-form-logo">
                    <img
                        src="assets/santega-logo.png"
                        alt="santega-logo.png"
                    />
                    <h4>Santega</h4>
                </div>

                <div class="auth-form-content">
                    <p class="auth-form-label">Nombre Completo:</p>
                    <input
                        [ngClass]="{
                            'invalid-input': registerForm.controls['Name'].invalid && registerForm.controls['Name'].touched
                        }"
                        class="auth-form-input"
                        type="text"
                        placeholder="Juan Manuel"
                        autocomplete="off"
                        formControlName="Name"
                    />

                    <p class="auth-form-label">RFC:</p>
                    <input
                        [ngClass]="{
                            'invalid-input': registerForm.controls['Username'].invalid && registerForm.controls['Username'].touched
                        }"
                        class="auth-form-input"
                        type="text"
                        placeholder="QUMA470929F37"
                        autocomplete="off"
                        formControlName="Username"
                        maxlength="13"
                    />

                    <p class="auth-form-label">Fecha de Nacimiento:</p>
                    <input
                        [ngClass]="{
                            'invalid-input': registerForm.controls['FecNacimiento'].invalid && registerForm.controls['FecNacimiento'].touched
                        }"
                        class="auth-form-input"
                        type="date"
                        autocomplete="off"
                        formControlName="FecNacimiento"
                    />

                    <p class="auth-form-label">Referencia Paycash:</p>
                    <input
                        [ngClass]="{
                            'invalid-input': registerForm.controls['ReferenciaPaycash'].invalid && registerForm.controls['ReferenciaPaycash'].touched
                        }"
                        class="auth-form-input"
                        type="text"
                        placeholder="1234567890"
                        autocomplete="off"
                        formControlName="ReferenciaPaycash"
                    />

                    <p class="auth-form-label">Num. Crédito:</p>
                    <input
                        [ngClass]="{
                            'invalid-input': registerForm.controls['NumCredito'].invalid && registerForm.controls['NumCredito'].touched
                        }"
                        class="auth-form-input"
                        type="text"
                        placeholder="1234567890"
                        autocomplete="off"
                        formControlName="NumCredito"
                    />

                    <p class="auth-form-label">Correo eléctronico: *</p>
                    <input
                        [ngClass]="{
                            'invalid-input': registerForm.controls['Email'].invalid && registerForm.controls['Email'].touched
                        }"
                        class="auth-form-input"
                        type="email"
                        placeholder="example@email.com"
                        autocomplete="off"
                        formControlName="Email"
                    />

                    <p class="auth-form-label">Celular:</p>
                    <input
                        [ngClass]="{
                            'invalid-input': registerForm.controls['Telefono'].invalid && registerForm.controls['Telefono'].touched
                        }"
                        class="auth-form-input"
                        type='text'
                        mask="(000) 000 00 00"
                        placeholder="5555555555"
                        autocomplete="off"
                        formControlName="Telefono"
                    />

                    <p class="auth-form-paragraph">
                        ¿Ya tienes una cuenta?
                        <span routerLink="/auth/iniciar-sesion">Iniciar sesión</span>
                    </p>

                    <button
                        type="submit"
                        [ngClass]="{
                            'disabled-btn': registerForm.invalid
                        }"
                        [disabled]="registerForm.invalid"
                    >
                        Inicio del registro
                    </button>
                </div>
            </form>

            <form class="auth-form" *ngIf="paso == 2">
                <div class="auth-form-logo">
                    <img
                        src="assets/santega-logo.png"
                        alt="santega-logo.png"
                    />
                    <h4>Santega</h4>
                </div>

                <div class="auth-form-content aviso_privacidad">
                    <p class="auth-form-label" (click)="openFile(pdfview);" style="color:blue;text-decoration:underline;cursor:pointer;">Descarga nuestro aviso de privacidad:</p>

                    HE LEÍDO Y ACEPTO EL AVISO DE PRIVACIDAD
                    <input
                    class="auth-form-input"
                    type='checkbox'
                    (click)="ValidaRegistroPaso2();"
                />
                </div>
            </form>

            <form class="auth-form" [formGroup]="formPassword" (ngSubmit)="setPassWord();" *ngIf="paso == 3 || paso == 4">
                <div class="auth-form-logo">
                    <img
                        src="assets/santega-logo.png"
                        alt="santega-logo.png"
                    />
                    <h4>Santega</h4>
                </div>

                <div class="auth-form-content_pass">
                    <div class="valida_phone">
                        <p class="auth-form-label">Celular:</p>
                        <input
                            [ngClass]="{
                                'invalid-input': formPassword.controls['Telefono'].invalid && formPassword.controls['Telefono'].touched
                            }"
                            class="auth-form-input"
                            type='text'
                            mask="(000) 000 00 00"
                            placeholder="5555555555"
                            autocomplete="off"
                            formControlName="Telefono"
                        />

                        <button class="button"
                        style="margin-bottom: 60px; "
                        (click)="confirmPhone()">
                        Verifica tu telefono
                        </button>
                    </div>

                    <p class="auth-form-label">Contraseña:</p>
                    <input
                        [ngClass]="{
                            'invalid-input': formPassword.controls['Password'].invalid && formPassword.controls['Password'].touched
                        }"
                        class="auth-form-input"
                        type="password"
                        placeholder="********"
                        autocomplete="off"
                        formControlName="Password"
                    />

                    <p class="auth-form-label">Confirmar contraseña:</p>
                    <input
                        [ngClass]="{
                            'invalid-input': formPassword.controls['Password2'].invalid && formPassword.controls['Password2'].touched
                        }"
                        class="auth-form-input"
                        type="password"
                        placeholder="********"
                        autocomplete="off"
                        formControlName="Password2"
                    />

                    <button
                        type="submit"
                        [ngClass]="{
                            'disabled-btn': formPassword.invalid
                        }"
                        [disabled]="formPassword.invalid"
                    >
                        Registro
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="pdf-container">
      <div #pdfview>
        <app-aviso [nombre]="registerForm.controls['Name'].value"></app-aviso>
      </div>
    </div>
</div>
