<section class="home-section home-section-banner">
    <img 
        class="home-section-banner-img"
        src="assets/santega-img.png"
        alt="santega-img.png"
    />
</section>

<section class="home-section home-section-about" #aboutUs>
    <h2 class="home-section-title">
        Acerca de Nosotros
    </h2>

    <div class="about-us">

        <div class="about-us-left">
            <div class="about-us-left-content">
                <h3>¿Quienes somos?</h3>
                <p class="about-us-left-content-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quos maiores tempora eos sapiente dolorem repellendus culpa facilis ad voluptate, temporibus fuga, minima deserunt fugit recusandae quidem amet soluta earum!.</p>
                <p class="about-us-left-content-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, blanditiis. Repellat sunt, iste.</p>
            </div>
        </div>

        <div class="about-us-right">
            <ul class="about-us-right-list">
                <li>
                    <div class="item-left">
                        <div class="item-left-content">
                            <img src="assets/metrics.png" alt="metrics.png">
                        </div>
                    </div>
                    <div class="item-right">
                        <h4>Medidas</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui autem possimus exercitationem voluptates similique quaerat recusandae, illo suscipit tempora alias dolorum laboriosam fugit dolores perspiciatis natus odio distinctio ipsa inventore!.</p>
                    </div>
                </li>
                <li>
                    <div class="item-left">
                        <div class="item-left-content">
                            <img src="assets/settings.png" alt="settings.png">
                        </div>
                    </div>
                    <div class="item-right">
                        <h4>Como funciona</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui autem possimus exercitationem voluptates similique quaerat recusandae, illo suscipit tempora alias dolorum laboriosam fugit dolores perspiciatis natus odio distinctio ipsa inventore!.</p>
                    </div>
                </li>
                <li>
                    <div class="item-left">
                        <div class="item-left-content">
                            <img src="assets/bell.png" alt="bell.png">
                        </div>
                    </div>
                    <div class="item-right">
                        <h4>Diseño</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui autem possimus exercitationem voluptates similique quaerat recusandae, illo suscipit tempora alias dolorum laboriosam fugit dolores perspiciatis natus odio distinctio ipsa inventore!.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="home-section home-section-services" #services>
    <h2 class="home-section-title">
        Servicios
    </h2>

    <ul class="services">
        <li class="services-item">
            <img src="assets/service-2.png" alt="service.png">
            <h5>Titulo del Servicio</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis.</p>
        </li>

        <li class="services-item">
            <img src="assets/service-1.png" alt="service.png">
            <h5>Titulo del Servicio</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis.</p>
        </li>

        <li class="services-item">
            <img src="assets/service-2.png" alt="service.png">
            <h5>Titulo del Servicio</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis.</p>
        </li>
    </ul>
</section>

<section class="home-section home-section-contact" #contact>
    <div class="contact">
        
        <div class="contact-background">
            <img 
                src="assets/contact-background.png" 
                alt="contact-background.png"
            />
        </div>

        <div class="contact-over-background">
            <div class="contact-content">
                <h3>¿Necesitas mas información a detalle?</h3>
                <p>No dudes ponerte en contacto directamente con nosotros.</p>
                <button anim="ripple">Contactanos.</button>
            </div>
        </div>
    </div>
</section>