<section class="home-section home-section-banner">
    <img
        class="home-section-banner-img"
        src="assets/santega-img.png"
        alt="santega-img.png"
    />
</section>

<section class="home-section home-section-about" #aboutUs>
    <h2 class="home-section-title">
        Información Sistemas Santega
    </h2>

    <div class="about-us">

        <div class="about-us-left">
            <ul class="about-us-left-list">
                <li>
                    <div class="item-left">
                        <div class="item-left-content">
                            <img src="assets/ico_aboutus.svg" alt="ico_aboutus.svg">
                        </div>
                    </div>
                    <div class="item-right">
                        <h4>Acerca de Nosotros</h4>
                        <p>Somos una compañía mexicana especializada en el manejo de activos. </p>
                    </div>
                </li>
                <li>
                    <div class="item-left">
                        <div class="item-left-content">
                            <img src="assets/ico_mision.svg" alt="ico_mision.svg">
                        </div>
                    </div>
                    <div class="item-right">
                        <h4>Misión</h4>
                        <p>En Santega, nos dedicamos a proporcionar soluciones integrales en el manejo estratégico de activos, ofreciendo servicios de adquisición, enajenación, cesión, traspaso, compra, venta y administración de toda clase de activos. </p>
                    </div>
                </li>
                <li><div class="item-left"></div><div class="item-right"></div></li>
            </ul>
        </div>

        <div class="about-us-right">
            <ul class="about-us-right-list">
                <li>
                    <div class="item-left">
                        <div class="item-left-content">
                            <img src="assets/ico_equipo.svg" alt="ico_equipo.svg">
                        </div>
                    </div>
                    <div class="item-right">
                        <h4>Equipo</h4>
                        <p>Nuestro equipo está formado por profesionales altamente capacitados y dedicados, que poseen experiencia en una amplia gama de operaciones mercantiles, comerciales y financieras. </p>
                    </div>
                </li>
                <li>
                    <div class="item-left">
                        <div class="item-left-content">
                            <img src="assets/ico_vision.svg" alt="ico_vision.svg">
                        </div>
                    </div>
                    <div class="item-right">
                        <h4>Visión</h4>
                        <p>
                            Nos visualizamos como líderes en México en la gestión integral de activos, destacados por nuestra capacidad de abordar de manera eficaz operaciones mercantiles, comerciales o financieras en el manejo de activos. <br>
                            Con una trayectoria sólida en el mercado mexicano, desde la adquisición hasta la enajenación, somo la  elección confiable para aquellos que buscan excelencia en la administración de activos tangibles e intangibles, así como de carteras crediticias.
                        </p>
                    </div>
                </li>
                <li><div class="item-left"></div><div class="item-right"></div></li>
            </ul>
        </div>
    </div>
</section>

<section class="home-section home-section-services" #services>
    <h2 class="home-section-title">
        Servicios
    </h2>

    <ul class="services">
        <li class="services-item">
            <img src="assets/service-2.png" alt="service.png">
            <h5>Gestión de Activos</h5>
            <p>Ofrecemos servicios integrales que abarcan desde la adquisición hasta la enajenación de activos, incluyendo carteras crediticias vigentes o vencidas, arrendamientos puros o financieros, y cualquier otra operación mercantil, comercial o financiera. </p>
        </li>

        <li class="services-item">
            <img src="assets/service-1.png" alt="service.png">
            <h5>Compra y Venta de Activos</h5>
            <p>Facilitamos operaciones de compra y venta de activos tangibles e intangibles, asegurando transacciones efectivas y beneficiosas para nuestros clientes.</p>
        </li>

        <li class="services-item">
            <img src="assets/service-2.png" alt="service.png">
            <h5>Administración de Activos</h5>
            <p>Nos especializamos en la administración eficiente de activos. </p>
        </li>
    </ul>
</section>

<section class="home-section home-section-contact" #contact>
    <div class="contact">

        <div class="contact-background">
            <img
                src="assets/contact-background.png"
                alt="contact-background.png"
            />
        </div>

        <div class="contact-over-background">
            <div class="contact-content">
                <h3>¿Necesitas mas información a detalle?</h3>
                <p>No dudes ponerte en contacto directamente con nosotros.</p>

                <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="submit();">
                    <div class="contact-form-content">
                        <input
                            class="contact-form-input"
                            type="text"
                            placeholder="Nombre *"
                            formControlName="nombre"
                            name="nombre"
                        />
                        <input
                            class="contact-form-input"
                            type="text"
                            placeholder="Email *"
                            formControlName="email"
                        />
                        <input
                            class="contact-form-input"
                            type="text"
                            placeholder="Teléfono *"
                            formControlName="telefono"
                            mask="00 0000 0000"
                        />
                        <textarea
                            class="contact-form-input"
                            placeholder="Mensaje *"
                            formControlName="mensaje"
                        ></textarea>
                        <button
                            type="submit"
                            anim="ripple"
                        >Contáctanos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
