<div class="auth">

    <h2 class="auth-title">
        Recuperar contraseña
    </h2>
    <div class="auth-content auth-content-forgot">
        <div class="auth-content-left">
            <img src="assets/contact-background.png" alt="contact-background.png">
            <div class="auth-content-left-rgba"></div>
        </div>
        <div class="auth-content-right">
            <form class="auth-form auth-form-forgot-password" [formGroup]="formPassword" (ngSubmit)="ChangePassword();">
                <div class="auth-form-logo">
                    <img 
                        src="assets/santega-logo.png"
                        alt="santega-logo.png"
                    />
                    <h4>Santega</h4>
                </div>

                <div class="auth-form-content">
                    <p class="auth-form-label">Contraseña:</p>
                    <input
                        [ngClass]="{
                            'invalid-input': formPassword.controls['Password'].invalid && formPassword.controls['Password'].touched
                        }"
                        class="auth-form-input"
                        type="password"
                        placeholder="********"
                        autocomplete="off"
                        formControlName="Password"
                    />

                    <p class="auth-form-label">Confirmar contraseña:</p>
                    <input
                        [ngClass]="{
                            'invalid-input': formPassword.controls['Password2'].invalid && formPassword.controls['Password2'].touched
                        }"
                        class="auth-form-input"
                        type="password"
                        placeholder="********"
                        autocomplete="off"
                        formControlName="Password2"
                    />

                    <button>Recuperar contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>