<footer>
    <div class="footer-top">
        <ul class="footer-top-content">
            <li class="footer-top-content-section">
                <ul class="footer-privacity">
                    <li>
                        Acerca de nosotros.
                    </li>
                    <li>
                        Nuestros servicios.
                    </li>
                    <li>
                        Contacto.
                    </li>
                    <li>
                        Aviso legal.
                    </li>
                    <li>
                        Términos y condiciones.
                    </li>
                </ul>
            </li>

            <li class="footer-top-content-section">
                <div class="footer-santega-logo">
                    <img 
                        src="assets/santega-logo.png" 
                        alt="santega-logo.png"
                    >
                    <h5>SANTEGA</h5>
                </div>
            </li>

            <li class="footer-top-content-section">
                <ul class="footer-company-info">
                    <li>
                        <div class="footer-icon-background">
                            <img 
                                src="assets/location.png" 
                                alt="location.png"
                            />
                        </div>
                        <p>Moisés Sáenz 131, El Prado, Iztapalapa, 09410 Ciudad de México, CDMX.</p>
                    </li>
                    <li>
                        <div class="footer-icon-background">
                            <img 
                                src="assets/phone.png" 
                                alt="phone.png"
                            />
                        </div>
                        <p>8183464828.</p>
                    </li>
                    <li>
                        <div class="footer-icon-background">
                            <img 
                                src="assets/email.png" 
                                alt="email.png"
                            />
                        </div>
                        <p>info@santega.com</p>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="footer-bottom">
        <p>
            Derechos Reservados &#169; 
            <span>SANTEGA</span>, 
            2024.
        </p>
    </div>
</footer>