<div class="dashboard">

    <section class="dashboard-welcome">
        <h1>
            Bienvenido a SANTEGA<br>
            {{ user.Nombres }} {{ user.Apellido_Paterno }} {{ user.Apellido_Materno }}
        </h1>
    </section>

    <section class="dashboard-debt-payment">

        <div class="dashboard-debt-title">
            <div></div>
            <h2>Créditos activos</h2>
        </div>

        <ng-container *ngIf="currentDebts && currentDebts.length > 0">
            <ng-container *ngFor="let debt of currentDebts">
                <ng-container *ngIf="isCurrentMonth( debt.Fecha_Ultimo_Pago.toString() );">
                    <div class="debt-payment-info">
                        <ul class="debt-payment-info-left">
                            <li>Crédito: <span>{{ debt.Producto_de_Credito_Producto_de_Credito.Descripcion }}</span>
                            </li>
                            <li>Saldo actual: <span>${{ debt.Saldo_Actual | numberWithCommas}} MXN</span></li>
                            <li>Fecha de pago: <span>{{ debt.Fecha_de_Pago | addMonthToDate | date }}</span></li>

                            <li>No. de cuenta: <span>{{ debt.Cuenta }}</span></li>
                            <li>Saldo vencido: <span>${{ debt.Saldo_Vencido | numberWithCommas }} MXN</span></li>
                            <li>Fecha límite de pago: <span>{{ debt.Fecha_limite_de_Pago | addMonthToDate | date
                                    }}</span></li>

                            <li>No. de contrato: <span>{{ debt.Contrato }}</span></li>
                            <li>Monto otorgado: <span>${{ debt.Monto_Otorgado | numberWithCommas}} MXN</span></li>
                            <li>Fecha fin de contrato: <span>{{ debt.Fecha_fin_Contrato | date }}</span></li>
                        </ul>
                        <ul class="debt-payment-info-right">
                            <h3>Realizar pago</h3>
                            <div></div>

                            <li>No. de referencia: <span>{{ debt.Referencia_Bancaria }}</span></li>
                            <li>Cantidad a pagar: <span class="total-amount-to-pay">$0,00 MXN</span></li>
                            <button class="btn-disabled" anim="ripple" type="button" (click)="makePayment( debt );"
                                disabled>Pagar</button>
                        </ul>
                    </div>
                </ng-container>
                <ng-container *ngIf="!isCurrentMonth( debt.Fecha_Ultimo_Pago.toString() );">
                    <div class="debt-payment-info">
                        <ul class="debt-payment-info-left">
                            <li>Crédito: <span>{{ debt.Producto_de_Credito_Producto_de_Credito.Descripcion }}</span>
                            </li>
                            <li>Saldo actual: <span>${{ debt.Saldo_Actual | numberWithCommas}} MXN</span></li>
                            <li>Fecha de pago: <span>{{ debt.Fecha_de_Pago | date }}</span></li>

                            <li>No. de cuenta: <span>{{ debt.Cuenta }}</span></li>
                            <li>Saldo vencido: <span>${{ debt.Saldo_Vencido | numberWithCommas }} MXN</span></li>
                            <li>Fecha límite de pago: <span>{{ debt.Fecha_limite_de_Pago | date }}</span></li>

                            <li>No. de contrato: <span>{{ debt.Contrato }}</span></li>
                            <li>Monto otorgado: <span>${{ debt.Monto_Otorgado | numberWithCommas}} MXN</span></li>
                            <li>Fecha fin de contrato: <span>{{ debt.Fecha_fin_Contrato | date }}</span></li>
                        </ul>
                        <ul class="debt-payment-info-right">
                            <h3>Realizar pago</h3>
                            <div></div>

                            <li>No. de referencia: <span>{{ debt.Referencia_Bancaria }}</span></li>
                            <li>Cantidad a pagar:
                                <input type="text"
                                    [placeholder]="debt.Pago_Periodico | currency:'MXN'"
                                    class="total-amount-to-pay"
                                    mask="separator.2"
                                    thousandSeparator=","
                                    decimalMarker="."
                                    prefix="$"
                                />
                            </li>
                            <button anim="ripple" type="button" (click)="makePayment(debt);">Pagar</button>
                        </ul>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!currentDebts || currentDebts.length === 0">
            <div class="no-data-found">
                <p>No se han encontrado créditos activos.</p>
            </div>
        </ng-container>
    </section>

    <section class="dashboard-payment-history">

        <div class="dashboard-payment-history-title">
            <div></div>
            <h2>Historial de pagos</h2>
        </div>

        <ul class="payment-history-options" *ngIf="debtTypes && debtTypes.length > 0">
            <li *ngFor="let debt of debtTypes" class="payment-history-options-item"
                (click)="showPaymentHistory( debt, $event );" [ngClass]="{
                    'payment-history-option-item-user-has':  userHasDebtType( debt.Folio )
                }">
                {{ debt.Descripcion }}
                <div class="payment-history-options-item-tooltip fadeInAnimation">
                    {{ debt.Descripcion }}
                </div>
            </li>
        </ul>

        <ul class="payment-history-filters" *ngIf="debtTypeSelected">
            <li class="payment-history-filters-item">Número de contrato:</li>
            <ng-container *ngIf="contractsOftypeDebtsSelected && contractsOftypeDebtsSelected.length > 0">
                <li class="payment-history-filters-item" *ngFor="let debt of contractsOftypeDebtsSelected">
                    <input type="checkbox" [value]="debt.Contrato" (change)="contractToggleCheck( $event );" checked>
                    <p>{{ debt.Contrato }}</p>
                </li>
            </ng-container>

            <li class="payment-history-filters-item-right">
                <div class="custom-select">
                    <select class="auth-form-select" (change)="filterPayments( $event );">
                        <option class="select-placeholder" value="" disabled selected>Ordenar por:&nbsp;&nbsp;Pagos
                            recientes</option>
                        <option value="desc">Pagos recientes</option>
                        <option value="asc">Pagos antiguos</option>
                        <option value="highest">Cantidad pagada mayor</option>
                        <option value="lowest">Cantidad pagada menor</option>
                    </select>
                </div>
                <div class="total-docs">
                    ({{ paymentsSelected.length }})
                </div>
            </li>
        </ul>

        <ul class="paymet-history slideInFromTopAnimation" *ngIf="debtTypeSelected">

            <ng-container *ngIf="paymentsSelected && paymentsSelected.length > 0">
                <li *ngFor="let payment of paymentsSelected" class="payment-status-success">
                    <p class="payment-type-debt">Tipo de crédito: <span>{{
                            payment.Producto_de_Credito_Producto_de_Credito.Descripcion }}</span></p>
                    <p>No. de contrato: <span>{{ payment.No__Contrato }}</span></p>
                    <p class="payment-date">Fecha de pago: <span>{{ payment.Fecha_de_Registro | date: 'MMM d, y, h:mm:ss
                            a' }}</span></p>
                    <p>Cantidad pagada: <span>${{ payment.Total_Pagado | numberWithCommas }}</span></p>
                    <p>Estatus: <span>Pago aprobado <mat-icon class="icon-checked">check_box</mat-icon></span></p>
                </li>
            </ng-container>

            <ng-container *ngIf="!paymentsSelected || paymentsSelected.length === 0">
                <div class="no-data-found">
                    <p>No se han encontrado pagos registrados.</p>
                </div>
            </ng-container>

        </ul>
    </section>

</div>

<div class="payment-modal fadeInAnimation" #paymentModal>

    <div class="close-payment-modal" (click)="closePaymentModal();">
        <mat-icon>close</mat-icon>
    </div>

    <div class="nuvei-content">

        <div class="nuvei-loader">
            <app-page-loader></app-page-loader>
        </div>
    </div>
</div>

<div class="payment-modal-status" *ngIf="nuveiResponse" #paymentModalStatus>

    <ul class="payment-modal-status-content">

        <div class="close-payment-modal" (click)="closePaymentModalStatus();">
            <mat-icon>close</mat-icon>
        </div>

        <h2>Detalles del pago</h2>
        <li>Folio de la transacción: <span>{{ nuveiResponse!.TransactionID! }}</span></li>
        <li>Nombre del crédito: <span>{{ nuveiResponse!.productId!.replaceAll('_', ' ') }}</span></li>
        <li>Cantidad pagada: <span>${{ nuveiResponse!.totalAmount! | numberWithCommas }} {{ nuveiResponse!.currency!
                }}</span></li>
        <li>Fecha de pago: <span>{{ nuveiResponse!.responseTimeStamp! | date }}</span></li>
        <li>Método de pago: <span>{{ nuveiResponse!.payment_method! }}</span></li>
        <li>Correo electrónico: <span>{{ nuveiResponse!.email! }}</span></li>

        <div class="payment-modal-status-content-bottom">
            <button type="button" (click)="closePaymentModalStatus();">Aceptar</button>
        </div>
    </ul>
</div>

<div class="payment-modal-reference payment-modal-hide" #paymentReference>
    <ul class="payment-modal-reference-content">
        <div class="close-reference-modal" (click)="closeReferenceModal()">
            <mat-icon>close</mat-icon>
        </div>
        <h2>Referencia de pago</h2>
        <app-reference debt="" (getReferenceResult)="getReference($event)"
            [isExistingReference]="referenceError"></app-reference>
    </ul>
</div>
