<div class="dashboard">

    <section class="dashboard-welcome">
        <h1>
            Bienvenido a <br>
            SANTEGA {{ user.Nombres }} {{ user.Apellido_Paterno }} {{ user.Apellido_Materno }}
        </h1>
    </section>

    <section class="dashboard-debt-payment">

        <div class="dashboard-debt-title">
            <div></div>
            <h2>Creditos Activos</h2>
        </div>

        <ng-container *ngIf="currentDebts && currentDebts.length > 0">
            <ng-container *ngFor="let debt of currentDebts">
                <ul class="debt-payment-info">
                    <h3>Información del credito</h3>
                    <li>Nombre del credito: <span>Credito Autorizado</span></li>
                    <li>Contrato del credito: <span>{{ debt.Contrato }}</span></li>
                    <li>Fecha de pago: <span>{{ debt.Fecha_de_Pago | date }}</span></li>
                    <li>Fecha Limite de pago: <span>{{ debt.Fecha_limite_de_Pago | date }}</span></li>
                </ul>
                <ul class="debt-payment-info">
                    <h3>Metodos de Pago</h3>
                    <li>Tarjeta de Credito / Debito <span><mat-icon>check_box</mat-icon></span></li>
                    <li>Transferencia Bancaria <span><mat-icon>check_box</mat-icon></span></li>
                    <li>Pago Referenciado (Efectivo) <span><mat-icon>check_box</mat-icon></span></li>
                    <li>Pago Domiciliado <span><mat-icon>check_box</mat-icon></span></li>
                </ul>
                <div class="debt-make-payment">
                    <h3>Realizar Pago</h3>
                    <h5>Total a pagar:</h5>
                    <h2>${{ debt.Pago_Periodico | numberWithCommas }}</h2>
                    <button anim="ripple" type="button" (click)="makePayment( debt );">Seleccionar Metodo de Pago</button>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!currentDebts || currentDebts.length === 0">
            <div class="no-data-found">
                <p>No cuentas con creditos actualmente.</p>
            </div>
        </ng-container>
    </section>

    <section class="dashboard-payment-history">
        <div class="dashboard-payment-history-title">
            <div></div>
            <h2>Historial de Pagos</h2>
        </div>
        <ul class="paymet-history">
            <ng-container *ngIf="payments && payments.length > 0">
                <li *ngFor="let payment of payments">
                    <p class="payment-name">Folio: <span>{{ payment.Credito }}</span></p>
                    <p>No. de Contrato: <span>{{ payment.No__Contrato }}</span></p>
                    <p>Fecha de pago: <span>{{ payment.Fecha_de_Registro | date }}</span></p>
                    <p>Cantidad Pagada: <span>${{ payment.Total_Pagado | numberWithCommas }}</span></p>
                    <p>Estatus: <span>Pago aprobado</span></p>
                </li>
            </ng-container>
            <ng-container *ngIf="!payments || payments.length === 0">
                <div class="no-data-found">
                    <p>No se han encontrado pagos registrados.</p>
                </div>
            </ng-container>
        </ul>
    </section>

</div>

<div class="payment-modal fadeInAnimation" #paymentModal>
    <div class="nuvei-content">
        <div class="close-payment-modal" (click)="closePaymentModal();">
            <mat-icon>close</mat-icon>
        </div>

        <div class="nuvei-loader" *ngIf="!nuveiFrameLoaded">
            <app-page-loader></app-page-loader>
        </div>

        <iframe (load)="iframeLoaded();" #nuveiFrame></iframe>
    </div>
</div>